PORT=5000
DB_URL=mongodb+srv://example_db_username:example_db_password@cluster0.***.mongodb.net/example_db?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development

# bcrypt
SALT='INTEGER' 

# JWT
JWT_SECRET=example_secret_key
JWT_EXPIRESIN=example_duration

# Super Admin
SUPER_ADMIN_EMAIL=example@mail.com
SUPER_ADMIN_PASSWORD=example_Password